/* Card WORK */
.card-work .card-title {
    opacity: 0;
}

.card-work:hover .card-inner {
    /* Add any required styles */
}

.card-work:hover .card-title {
    /* Add any required styles */
}

.card-work .card-title a {
    opacity: 0;
}

.card-work:hover .card-title a,
.card-work .card-title a:focus {
    opacity: 1;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
